* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: #080402;
}

h1,
h2,
h3,
h4,
h5,
h6,
span {
  text-align: center;
  line-height: 1.25;
  color: #ffffff;
}

h1 {
  font-size: 36px;
  color: #ffffff;
}

p {
  color: #ffffff;
  line-height: 1.5;
  font-size: 16px;
}

a {
  text-decoration: none;
}

section:nth-child(even) {
  background-color: #0d0907;
}

.section__title {
  margin-bottom: 20px;
}

.container {
  padding: 50px 0;
}

/* NAVIGATION BAR */

li {
  list-style-type: none;
}

.flex {
  display: flex;
}

.flex-1 {
  flex: 1;
}

.row {
  width: 100%;
  width: 800px;
  margin: 0 auto;
}

.text--purple {
  color: #8d021f;
}

nav {
  height: 100px;
  max-width: 1000px;
  width: 100%;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 12px;
}

.nav__link--list {
  display: flex;
}

.nav__link--anchor {
  margin: 0 12px;
  color: #ffffff;
  text-decoration: none;
  font-weight: 700;
}

.nav__link--anchor-primary {
  background-color: #8d021f;
  padding: 8px 20px;
  border-radius: 50px;
  color: white;
}

.nav__link--anchor-primary:hover {
  background-color: #cb102e;
}

.personal__logo {
  font-size: 24px;
  color: #8d021f;
  margin: 0 12px;
  font-weight: bold;
}
/* ABOUT ME*/
#about-me {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

.about-me__info {
  display: flex;
  flex-direction: column;
}

.about-me__info--container {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  max-width: 600px;
  margin: 0 auto;
  text-align: center;
}

.about-me__picture--mask {
  width: 100px;
  border-radius: 50%;
  overflow: hidden;
  box-shadow: 0 8px 16px rgba(255, 255, 255, 0.16);
  margin-bottom: 28px;
  animation: animate-profile-picture 800ms 1s backwards;
}
@keyframes animate-profile-picture {
  0% {
    transform: scale(0);
  }

  80% {
    transform: scale(1.1);
  }
  100% {
    transform: scale(1);
  }
}

.about-me__picture {
  width: 100%;

  /* Improving Picture */

  transform: scale(2);
  padding-right: 22px;
}

.about-me__info--para {
  font-size: 20px;
  margin-bottom: 28px;
  animation: fade-up 600ms;
}
.about-me__info--title {
  margin-bottom: 16px;
  animation: fade-up 600ms;
}

.wave {
  display: inline-block;
  animation: animate-wave 500ms infinite ease-in-out;
  /* cant rotate inline elements*/
}

@keyframes animate-wave {
  0% {
    transform: rotate(0);
  }

  50% {
    transform: rotate(45deg);
  }
  100 {
    transform: rotate(0);
  }
}

.about-me__img--container {
  flex: 1;
  display: flex;
  align-items: center;
  animation: cut-in 600ms;
  padding-right: 45px;
}

@keyframes cut-in {
  0% {
    opacity: 0;
    transform: translateX(-1000px);
  }

  100% {
    opacity: 1;
    transform: translateX(0);
  }
}

.about-me__img {
  width: 100%;
}

@keyframes fade-up {
  0% {
    opactiy: 0;
    transform: translateY(40px);
  }

  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

/* TECH STACK */

.language__img {
  width: 100%;
  max-width: 100px;
  transition: all 300ms;
}

.language:hover .language__img {
  filter: brightness(80%);
  opacity: 0.86;
  transform: scale(0.9);
}
.language {
  width: 30%;
  display: flex;
  justify-content: center;
  position: relative;
  flex-wrap: wrap;
}

.language__img--wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 25px 16px;
}

.language__list {
  display: flex;
  width: 100%;
  justify-content: center;
  flex-wrap: wrap;
}

.language__name {
  position: absolute;
  bottom: 0;
  transform: scale(0);
  opactiy: 0;
  transition: all 500ms ease;
  font-size: 20px;
}

.language:hover .language__name {
  transform: scale(1);
  opacity: 1;
}

/*PROJECTS SECTION*/

.project {
  margin-bottom: 135px;
}

.project:last-child {
  margin-bottom: 48px;
}

.project__img {
  width: 100%;
  transition: all 450ms ease;
}

.project__wrapper {
  display: flex;
  box-shadow: 0 20px 80px rgba(255, 255, 255, 0.45);
  border-radius: 20px;
  overflow: hidden;
  position: relative;
}

.project__wrapper:before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background-color: #ffffff;
  opacity: 0;
  transition: opacity 450ms ease;
  z-index: 2;
}

.projects:hover .project__wrapper:before {
  opacity: 0.6;
}

.projects:hover .project__img {
  transform: scale(1.07);
  filter: blur(5px);
}

.projects:hover .project__description {
  opacity: 1;
  transform: translateY(-50%);
}

.project__list {
  padding-top: 40px;
}

.project__description {
  position: absolute;
  top: 50%;
  transform: translateY(100%);
  left: 90px;
  z-index: 3;
  opacity: 0;
  transition: all 400ms ease;
}
.project__description--title {
  font-size: 36px;
}

.project__description--subtitle {
  font-size: 20px;
}

.project__description--para {
  font-size: 16px;
}

.project__description--title,
.project__description--subtitle,
.project__description--para,
.project__description--links {
  text-align: left;
  color: #000000;
}
.project__description--link {
  font-size: 20px;
  margin: 10px;
  text-decoration: none;
}

/* 

/FOOTER/ 

*/

footer {
  background-color: #242424;
}

.footer__row {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 8% 0;
}

.footer__logo--img {
  width: 85px;
  height: 85px;
  margin-left: 20px;
}

.footer__social--link,
.footer__copywrite--logo,
.footer__logo--popper {
  color: #fff;
}

.footer__social--list {
  margin-bottom: 20px;
  max-width: 500px;
  width: 100%;
  display: flex;
  justify-content: space-around;
}

.footer__row {
  margin-bottom: 28px;
}

.footer__logo--popper {
  position: absolute;
  right: 0;
  top: 30px;
  font-size: 30px;
  transition: all 450ms ease;
  opacity: 0;
}

.footer__anchor {
  position: relative;
  margin-bottom: 20px;
}
.footer__anchor:hover .footer__logo--popper {
  transform: translateX(60px);
  opacity: 1;
}

/*Small phones, tablets, large smartphones*/

@media (max-width: 768px) {
  nav {
    height: 68px;
  }

  h1 {
    font-size: 28px;
  }

  .about-me__info--para {
    font-size: 18px;
  }
  .language {
    width: calc(100% / 3);
  }

  .project__description--para {
    font-size: 14px;
  }

  .project__description {
    padding-right: 30px;
    left: 30px;
  }

  .project__wrapper {
    width: 50%;
    display: flex;
    margin: 0 auto;
  }

  .container {
    display: flex;
    justify-content: center;
  }
}

@media (max-width: 480px) {
  .nav__link:not(:last-child) {
    display: none;
  }

  .language__img {
    width: 75px;
    max-width: 100%;
    /*finish fixing the technology stack*/
  }

  .container {
    display: flex;
    justify-content: center;
  }

  h1 {
    font-size: 26px;
  }

  .about-me__info--para {
    font-size: 14px;
  }
  .language {
    width: calc(100% / 3);
  }

  .project__description--para {
    font-size: 12px;
  }
  .project__description--title {
    font-size: 18px;
  }

  .project__description--subtitle {
    font-size: 10px;
  }
  .project__description {
    padding-top: 30px;
    left: 30px;
  }

  .project__wrapper {
    width: 50%;
    display: flex;
    margin: 0 auto;
  }

  footer {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
  }
}

/*Good on phones*/

/* Off On Projects Portion
div containers are to cap the top and bottom and the div row are to cap the left and right */

/*
FOR LATER PROJECTSSSS
 <li class="projects">
              <div class="project__wrapper">
                <img
                  src="./Assets/Favorite__Song--Project-fixed.png"
                  class="project__img"
                  alt="A practice website I made about my favorite song"
                />
                <div class="project__description">
                  <h3 class="project__description--title">
                    My Favorite Song Website
                  </h3>
                  <h4 class="project__description--subtitle">
                    <div class="project__description--subtitle">HTML Javascript CSS</div>
                    <em class="project__description--subtitle">(Practice Website)</em>
                  </h4>
                  <p class="project__description--para">
                    A simple page I made to practice the three languages I
                    learned, much like this one is.
                  </p>
                  <div class="project__description--links">
                    <a
                      href="https://github.com/TomariCodes"
                      class="project__description--link"
                      target="_blank"
                    >
                      <i class="fa-brands fa-github" style="color: #000000;"></i>
                    </a>
                  </div>
                </div>
              </div>
            </li>


*/
